body,html{
margin:0px;
height:100%;
}
.container{
display: grid;
height:100%;

grid-template-columns: repeat(6,1fr);

}
/*Styling for Dashboard section */
.dashboard{
 background-color: rgb(48, 189, 236);
 grid-column: 1/2; 
 color:white; 
 font-family: 'Roboto', sans-serif;
 height:100%;
}

.heading{
font-size:24px;
padding:30px 15px ;
margin:0px;
font-weight: 1000;

}
ul{
    padding-left:0px;
    font-size: 20px;
    list-style-type: none;
}
li{
    
    padding:8px 25px;
    font-size:18px;
    font-weight: 500;

}
.icon{
padding-right:10px;  
}
/*Styling for Header section */
.part-two{
    grid-column: 2/8;
    display:flex;
    flex-direction: column;
    
}
.header{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 8px 0px 5px 0px grey;
}   

.first-row,.second-row{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.search{
    width:60%;
    text-align: center;

}
.search-bar{
 border-radius:30px;
 background-color: #dfdfdf;
 border:1px solid #dfdfdf ;
 width:90%;
 padding:5px;
}
.profile{
    display: flex;
    width:25%;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    
}
.second-row{
    margin:15px 20px 10px 30px;

}
.greetings{
    display:flex;
    align-items: center;
    justify-content: center;

}
.text{
    padding-top:25px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    text-align: left;
    line-height: 0.4;
}

input[type='button']{
    border-radius:30px;
    width:80px;
    padding:5px;
    margin:0 6px;
    background-color: rgb(10, 169, 222);
    font-family: 'Roboto', sans-serif;
    border:1px solid rgb(10, 169, 222);
    color:white;
}
input[type='button']:hover{
    background-color:rgb(25, 121, 154);
}
/*Styling for Cards section*/
.project-cards{
    background: #efeff5;
    grid-column: 2/8;
    flex-grow:1;
}
